<div>
  <ul class="nav nav-fill fixed-bottom d-lg-none pt-2 bg-white" id="mobile-bottom-navbar"
    style="border-top: 1px solid #f3f4f7">
    <li class="nav-item">
      <a class="nav-link active text-capitalize d-flex flex-column justify-content-center align-items-center" href="#"
        routerLink="/home" routerLinkActive="activeRouter" [routerLinkActiveOptions]="{ exact: true }"><i
          class="fas fa-home fa-fw fa-fw"></i><span class="small">Início</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize d-flex flex-column justify-content-center align-items-center" href="#"
        routerLink="/explorar" routerLinkActive="activeRouter" [routerLinkActiveOptions]="{ exact: true }"><i
          class="fas fa-search fa-fw fa-fw"></i><span class="small">Explorar</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-capitalize d-flex flex-column justify-content-center align-items-center"
        routerLink="login"><i class="fas fa-user fa-fw fa-fw"></i><span class="small">Entrar</span></a>
    </li>
  </ul>
</div>