#map {
    height: 100vh;
    width: 100%;
}


.button-map-wrapper {
    position: relative;
    width: fit-content;
    width: 100%;
  
}

.button-row{
    position: absolute;
    z-index: 2;
    display: flex;
    gap: 1em;
}

::ng-deep.mat-menu-panel {
    max-width: 200px !important;
  }

//Button