<div class="button-map-wrapper">
    <div class="button-row p-2">

        <button (click)="onReturnButtonClick()" matTooltip="Voltar" class="btn primary-button return-button">


            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-90deg-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M4.854 14.854a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V3.5A2.5 2.5 0 0 1 6.5 1h8a.5.5 0 0 1 0 1h-8A1.5 1.5 0 0 0 5 3.5v9.793l3.146-3.147a.5.5 0 0 1 .708.708z" />
            </svg></button>


       

        <button class="btn primary-button filter-button" mat-button [matMenuTriggerFor]="menu">Preço<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path
                d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
        </svg></button>
        <mat-menu #menu="matMenu">
            <app-price-filter></app-price-filter>
        </mat-menu>


    </div>

    <!-- Mapa -->
    <div #gmapContainer id="map"></div>

</div>