// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: #6002ee

$frontend-primary: mat.define-palette(mat.$orange-palette);
$frontend-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".

$frontend-theme: mat.define-light-theme((color: (primary: $frontend-primary,
                accent: $frontend-accent,
                warn: $frontend-warn,
            ),
            typography: mat.define-typography-config(),
            density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-theme);

/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import 'assets/styles/variables.scss';



//Other styles

//This is so the dropdown from autocomplete can work

.cdk-overlay-container,
.cdk-overlay-pane {
    z-index: 9999 !important;
}

::ng-deep.mat-menu-panel {
    max-width: 200px !important;
  }

  
//global styles
.orange-text-color {
    color: $primary-color;
}

.primary-text-color {
    color: $primary-text-color;

}



.primary-text-weight {
    font-weight: $font-weight-bold;
}

.background-primary-color {
    background-color: $primary-color;
}

.primary-button {
    background-color: $primary-color;
    color: white;
    border-radius: 20px;
}

.primary-button:hover {
    background-color: #dd7432;
    color: white;
}

.primary-button:active {
    background-color: #dd7432 !important;
    color: white !important;
}

.form-control:focus {
    border-color: $primary-color;
    /* Change this to your desired color */
    box-shadow: 0 0 0 0.2rem rgba(252, 120, 39, 0.25);
    /* Adjust the color and opacity for the shadow */
}

html,
body {
    height: 100%;
}

body {
    overflow-x: hidden;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

//Custom theme for angular material