<app-background></app-background>

<div class="d-flex justify-content-center">
    <div class="card text-center p-4 mt-5" style="max-width: 400px;">
        <div class="card-header d-flex justify-content-center align-items-center">
         
                <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="4" y="4" width="48" height="48" rx="24" fill="#FFEAD5" />
                    <rect x="4" y="4" width="48" height="48" rx="24" stroke="#FFF6ED" stroke-width="8" />
                    <path
                        d="M23 27V23C23 21.6739 23.5268 20.4021 24.4645 19.4645C25.4021 18.5268 26.6739 18 28 18C29.3261 18 30.5979 18.5268 31.5355 19.4645C32.4732 20.4021 33 21.6739 33 23V27M21 27H35C36.1046 27 37 27.8954 37 29V36C37 37.1046 36.1046 38 35 38H21C19.8954 38 19 37.1046 19 36V29C19 27.8954 19.8954 27 21 27Z"
                        stroke="#FD853A" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
           
        </div>
        <div class="card-body">
            <h5 class="card-title mb-3 primary-text-weight primary-text-color">Como deseja se cadastrar?</h5>
            <p class="card-text mb-4 primary-text-color">Escolha melhor maneira de se conectar à nossa plataforma</p>
            <button type="button" class="btn btn-outline-secondary primary-text-color"
                style="height: 3em;">Universitário</button>
            <div class="my-2">OU</div>
            <button type="button" class="btn btn-outline-secondary primary-text-color"
                style="height: 3em;">Anunciante</button>
        </div>
    </div>
</div>