.main-explorer-wrapper{
    height: calc(100vh - 84.53px) !important;
}

.map-section {
    position: absolute;
    width: 100%;
    height: 300px; /* Default height for mobile */
    z-index: 100;
  }
  
