<!-- Main container for the Explorar component -->
<div id="page-top" class="d-flex flex-column min-vh-100">
  <!-- Navigation bar -->
  <app-navbar></app-navbar>

  <div class="container-fluid my-auto">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6 col-lg-4">
        <!-- User profile card -->
        <app-user-card></app-user-card>
      </div>
    </div>
  </div>

  <!-- Mobile bottom navigation -->
  <!-- TODO: Consider using Angular Material or Ionic for a more robust mobile navigation -->
  <ul
    class="nav nav-fill fixed-bottom d-lg-none pt-2"
    id="mobile-bottom-navbar"
    style="border-top: 1px solid #f3f4f7"
  >
    <li class="nav-item">
      <a
        class="nav-link active text-capitalize d-flex flex-column justify-content-center align-items-center"
        href="#"
        ><i class="fas fa-home fa-fw fa-fw" style="color: rgb(253, 133, 58)"></i
        ><span class="small" style="color: #fd853a">Início</span></a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-capitalize d-flex flex-column justify-content-center align-items-center"
        href="#"
        ><i class="fas fa-search fa-fw fa-fw"></i
        ><span class="small">Explorar</span></a
      >
    </li>
    <li class="nav-item">
      <a
        class="nav-link text-capitalize d-flex flex-column justify-content-center align-items-center"
        href="#"
        ><i class="fas fa-user fa-fw fa-fw"></i
        ><span class="small">Entrar</span></a
      >
    </li>
  </ul>
</div>

<app-footer></app-footer>
