<div
  id="page-top"
  class="d-flex flex-column min-vh-100"
  style="padding-top: 56px; color: #f3f4f7"
>
  <nav class="navbar navbar-expand-md fixed-top bg-white py-3 shadow">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" href="#"
        ><img
          class="img-fluid"
          src="assets/explorar/img/Logo%20(1).png"
          width="123"
          height="43" /></a
      ><button
        data-bs-toggle="collapse"
        class="navbar-toggler"
        data-bs-target="#navcol-2"
      >
        <span class="visually-hidden">Toggle navigation</span
        ><span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navcol-2">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#" style="color: #696b77"
              >Início</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: rgb(133, 135, 150)"
              >Explorar</a
            >
          </li>
          <li class="nav-item"></li>
        </ul>
        <a
          class="btn btn-primary ms-md-2 shadow-sm"
          role="button"
          href="#"
          style="background: rgb(253, 133, 58); border-style: none"
          >Entrar</a
        >
      </div>
    </div>
  </nav>
  <div id="wrapper-1" class="my-auto">
    <div class="d-flex flex-column" id="content-wrapper-1">
      <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-12 col-12 col-md-6 col-lg-4">
            <div
              class="card shadow w-auto mx-auto col-6"
              style="border-color: #e4e7ec"
            >
              <div
                class="card-header py-3"
                style="
                  background: #fcfcfc;
                  border-bottom-width: 32px;
                  border-bottom-style: none;
                "
              >
                <img
                  alt="woman in black scoop neck shirt"
                  class="d-block mx-auto circle-img"
                  width="135"
                  height="202"
                  src="assets/explorar/img/Profile-picture.jpg"
                  style="margin-top: -86px"
                />
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background: #fcfcfc">
                  <div class="row g-0 align-items-center">
                    <div
                      class="col container-fluid px-0"
                      style="padding-bottom: 0px; margin-bottom: -9px"
                    >
                      <label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                          color: rgb(133, 135, 150);
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill me-1"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                        >Label</label
                      ><label
                        class="form-label px-1 rounded-pill"
                        style="
                          background: #f2f4f7;
                          padding-bottom: 0px;
                          padding-top: 0px;
                        "
                      ></label>
                    </div>
                  </div>
                </li>
                <li
                  class="list-group-item mt-2 mb-2"
                  id="Perfil-Descricao"
                  style="background: #fcfcfc; border-style: none"
                >
                  <div class="row g-0 col-auto d-flex align-items-center">
                    <div class="col-10 me-2">
                      <h6 class="mb-0">
                        <strong
                          >Aline Dias, 22 -
                          <span style="color: rgb(253, 133, 58)"
                            >FACENS</span
                          ></strong
                        ><svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="1em"
                          height="1em"
                          viewBox="0 0 20 20"
                          fill="none"
                          class="align-items-start rounded-circle mb-1 ms-1"
                          style="
                            background: #fff6ed;
                            color: rgb(253, 133, 58);
                            font-size: 12px;
                          "
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M2.16611 4.99891C5.17437 4.95809 7.91528 3.81033 10 1.94446C12.0847 3.81033 14.8256 4.95809 17.8339 4.99891C17.9431 5.64968 18 6.31821 18 7.00003C18 12.2249 14.6608 16.6698 10 18.3172C5.33923 16.6698 2 12.2249 2 7.00003C2 6.31821 2.05686 5.64968 2.16611 4.99891ZM13.7071 8.70711C14.0976 8.31658 14.0976 7.68342 13.7071 7.29289C13.3166 6.90237 12.6834 6.90237 12.2929 7.29289L9 10.5858L7.70711 9.29289C7.31658 8.90237 6.68342 8.90237 6.29289 9.29289C5.90237 9.68342 5.90237 10.3166 6.29289 10.7071L8.29289 12.7071C8.68342 13.0976 9.31658 13.0976 9.70711 12.7071L13.7071 8.70711Z"
                            fill="currentColor"
                          ></path>
                        </svg>
                      </h6>
                      <span class="text-xs d-flex"
                        >Sou Alina Dias, estudante tranquila. Nas horas
                        vagas...&nbsp;</span
                      >
                    </div>
                    <div class="col col-1 d-flex" style="padding-left: 0px">
                      <i
                        class="far fa-arrow-alt-circle-down"
                        style="font-size: 28px; color: rgb(253, 133, 58)"
                      ></i>
                    </div>
                  </div>
                </li>
                <li
                  class="list-group-item"
                  style="
                    background: #e4e7eb;
                    border-style: solid;
                    border-bottom-left-radius: 0px;
                    box-shadow: inset 0px 8px 0px 0px rgb(239, 241, 244);
                  "
                ></li>
                <li
                  class="list-group-item"
                  style="
                    background: #d6d9dd;
                    border-style: solid;
                    border-bottom-left-radius: 0px;
                    box-shadow: inset 0px 8px 0px 0px rgb(221, 223, 228);
                  "
                ></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <ul
        class="nav nav-fill fixed-bottom d-lg-none pt-2"
        id="mobile-bottom-navbar"
        style="border-top: 1px solid #f3f4f7"
      >
        <li class="nav-item">
          <a
            class="nav-link active text-capitalize d-flex flex-column justify-content-center align-items-center"
            href="#"
            ><i
              class="fas fa-home fa-fw fa-fw"
              style="color: rgb(253, 133, 58)"
            ></i
            ><span class="small" style="color: #fd853a">Início</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize d-flex flex-column justify-content-center align-items-center"
            href="#"
            ><i class="fas fa-search fa-fw fa-fw"></i
            ><span class="small">Explorar</span></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-capitalize d-flex flex-column justify-content-center align-items-center"
            href="#"
            ><i class="fas fa-user fa-fw fa-fw"></i
            ><span class="small">Entrar</span></a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
